{#
/**
 * @file entity-base.html.twig
 * Default theme implementation to present custom entities data.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see _cens_common_custom_entity_template_preprocess()
 *
 * @ingroup themeable
 */
#}
{% if content %}
  {% if unesco_link_content %}
    <a {{ attributes.addClass('card') }}>
  {% else %}
    <div{{ attributes.addClass('card') }}>
  {% endif %}

    {{ content.unesco_common_card_link }}
    {{ content.unesco_common_card_hero_image }}
    {% if content.unesco_common_card_image or content.unesco_common_card_body %}
      <div class="card-body">
        {{ content.unesco_common_card_image }}
        {{ content.unesco_common_card_body }}
      </div>
    {% endif %}
    {{ content.unesco_common_card_footer }}

  {% if unesco_link_content %}
    </a>
  {% else %}
   </div>
  {% endif %}
{% endif %}
