{#
/**
 * @file
 * Default theme implementation to each level of menu.
 */
#}
{% import _self as menu %}

{{ menu.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="main-navigation collapse navbar-collapse" id="navbarNav">
  <ul {{ attributes.addClass('menu nav navbar-nav').addClass('menu-level-' ~ items|first.menu_level) }}>
  {% for key, item in items if key|first != '#' %}
    {% set menu_item_classes = [
      'menu-item',
      'nav-item',
      item.is_expanded ? 'dropdown',
      item.is_collapsed ? 'dropdown',
      item.in_active_trail ? 'menu-item--active-trail active',
    ] %}

    {%
      set classes_link = [
      'nav-link',
      item.in_active_trail ? 'active',
      item.is_expanded ? 'dropdown-toggle',
    ]
    %}

    {% if item.url.options.attributes.class %}
      {% set classes_link = classes_link|merge([item.url.options.attributes.class]) %}
    {% endif %}

    <li{{ item.attributes.addClass(menu_item_classes) }}>
      {% if menu_level == 0 and item.below %}
      {{ link(item.title, item.url, { 'class': classes_link, 'data-toggle' : 'dropdown', 'title': ('Expand menu' | t) ~ ' ' ~ item.title }) }}
      {{ menus.build_menu(item.below, attributes, menu_level + 1) }}
      {% else %}
        {{ item.content }}
      {% endif %}
      {% set rendered_content = item.content|without('') %}
      {% if rendered_content|render %}
        {{ rendered_content }}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>
{% endmacro %}
