{%
  set classes = [
    'block-menu',
    'block-menu--popin',
    'menu--' ~ derivative_plugin_id|clean_class,
  ]
%}
{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<div{{ attributes.addClass(classes)|without('role', 'aria-labelledby') }}>
  {% if not configuration.label_display %}
    {% set title_attributes = title_attributes.addClass('visually-hidden') %}
  {% endif %}
  {{ title_prefix }}
  <div{{ title_attributes.addClass('button-galaxy').setAttribute('id', heading_id) }}><span class="button-text">{{ configuration.label }}</span></div>
  {{ title_suffix }}

  <div aria-labelledby="{{ heading_id }}" class="popin hidden">
    <div class="inside">
      <div class="top">
        <span class="button-text-mobile">{{ configuration.label }}</span>
        {% if site_logo and site_name %}
        <div class="site-info-wrapper">
          <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
          <span class="site-name">{{ site_name }}</span>
        </div>
        {% else %}
        <span class="title">{{ 'Explore UNESCO'|t }}</span>
        {% endif %}

        <a href="https://unesco.org/en" class="btn btn-secondary link-galaxy home">{{ 'Go to Unesco.org'|t }}</a>
        <a href="https://unesco.org/en/search" class="btn btn-secondary link-galaxy advanced-search">{{ 'Advanced search'|t }}</a>
        <a href="#" class="btn btn-secondary close-popin link-galaxy">{{ 'Close'|t }}</a>
      </div>
      <nav role="navigation">
        {% block content %}
          {{ content }}
        {% endblock %}
      </nav>
    </div>
  </div>
</div>
