<div class="header-node-content">
  <h1 class="title article-title">{{ node.title.value}}</h1>

  <div class="main-node-content">
    <div class="content-narrow">
      {{ node.getMainImageBuild() }}
    </div>

    {% if datas.description_en %}
      <div class="description">
        {{ datas.description_en|raw }}
      </div>
    {% endif %}

    <a href="{{ datas.related_link.url }}" class="btn-primary">{{ 'Learn more'|trans }}</a>
  </div>
</div>
